@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
  text-align: center;
  background-image: url('https://wallpaperaccess.com/full/2811467.jpg');
  font-family: 'Lobster';
}
canvas{
  box-shadow: 0px 0px 20pt lightpink;
}